<div class="form-group">
	<%= f.label field.id, field.name.humanize, :class => "col-sm-2 control-label" %>
	<div class="col-sm-2">
		<%= f.check_box field.id, :class => "form-control" %>
	</div>
</div>