<div class="pet-agreement form-group" style="margin-left:65px;">
	<div class="col-md-1">
  		<%= f.check_box field.id %>
  	</div>
  	<div class="col-md-8">
  		<%= f.label field.id, field.name.humanize, :class => 'checkbox-label' %>
  	</div>
</div>
