

<div class="form-group">
  <%= f.label field.id, field.name.humanize, :class => "col-sm-2 control-label" %>
  <div class="col-sm-5">
    <%= f.file_field field.id, :multiple => true, value: '~/resume.doc', :class => "form-control"  %>

    <% if defined?(errors) and errors.present? %>
		<small style="color:red"><%= errors.join(', ') %></small>
	 <% end %>
  </div>
  <% if !field_value.nil? && field_value.is_a?(Integer) %>
    <%= get_attachment(field_value) %>
  <% end %>
  <% if field.required? %>
	<span class="col-xs-1 required required-field">*</span>
  <% end %>
</div>

