<% field_value ||= nil %>
<div class="options_select_container col-md-<%= field.field_width %>">
		<%= f.label field.id, field.name.humanize, :class => "col-md-2 control-label" %>
	<div class="col-md-2">
	  <%= f.select field.id, options_for_select(field.content_meta.split(","),selected: field_value),{},{:class => "option-other form-control", :style => "width: 154px;"} %>
	  </div>
	
	<div class="form-group">
		<div class="col-md-3 option-field" style="display:none;">
		  <%= f.text_field field.id, :class => "form-control other-select", :disabled => "disabled" %>
		</div>
	</div>
</div>