<% field_value ||= nil %>
<div class="options_select_container col-md-<%= field.field_width %>">
 	<%= f.label field.id, field.name.humanize, :class => "col-md-2 control-label" %>
<div class="col-md-2">

  	<%= f.select field.id, options_for_select(field.content_meta.split(","),selected: field_value),{},{:class => "form-select form-control" } %>
  	<% if defined?(errors) and errors.present? %>
		<small class="error-msg" style="color:red"><%= errors.join(', ') %></small>
	<% end %>
  </div>
  <% if field.required? %>
	<span class="col-xs-1 required required-field">*</span>
  <% end %>
</div>
