<div align="center">
	<h1 id="main-header"><%= @dynamic_form_entry.dynamic_form_type.name %></h1>
</div>
<%= render 'form' %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker input').datepicker({
    });
  });
</script>

