<h1>New <%= @dynamic_form_entry.dynamic_form_type.name %></h1>
<%= render 'form' %>

<script type="text/javascript">
$('input[type="checkbox"]').click(function() {
    if (this.checked) {
    	$(this).parent().parent().find('label.checkbox-label').css('text-decoration','line-through');
    }
    else{
    	$(this).parent().parent().find('label.checkbox-label').css('text-decoration','none');
    }
});
</script>