<!DOCTYPE html>
<html>
<head>
  <title>Print form</title>

  <%= stylesheet_link_tag  "dynamic_forms_engine/dynamic_form_entries_print", media: "print" %>

</head>
<body>

    <%= yield %>

</body>
</html>
