<!DOCTYPE html>
<html>
<head>
  <title>Share Form</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<main role="main">
  <div class="container">
    <div class="content">
       <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
</main>

</body>
</html>
