<div align="center">
	<h1 id="main-header"><%= @dynamic_form_type.name %></h1>
</div>
<%= render 'save_as' %>
<script type="text/javascript">
	$('.btn-success').tooltip();
	$('.btn-primary').tooltip();
</script>
