<h1>New Form</h1>
<%= render 'form' %>

<script type="text/javascript">
	$(document).ready(function(){
		$('.form-type').on('change',function(){
			if($(this).val() == "Multi-step"){
				console.log($(this).val());
				$('.form-type').popover({
					content : 'Create a Multiple step form where you can save a draft and come back to it later to submit. Each step must be wrap in a field_group field below',
					placement : 'top',
					trigger : 'click'
				});
			}else if ($(this).val() == "Default-form"){
				console.log($(this).val());
				$('.form-type').popover({
					content : 'Create a normal regular form',
					placement : 'top',
					click : 'click'
				});
			}
		});
	});
</script>

