<%= form_for(@dynamic_form_type, :html => {:class => "form-horizontal"}) do |f| %>

	<h2>Is a default form or Multi-step form</h2>
	<div class="col-sm-2">
		<% type_options = [
			['Default form', DynamicFormsEngine::DynamicFormType.name],
			['Multi-step form', DynamicFormsEngine::DynamicMultiStepFormType.name],
		] %>
		<%= f.select :type, type_options, {}, class: 'form-control input-medium form-type' %>
	</div>

	<div class="default-form">
		<h1>Dynamic Form</h1>
		<%= render :partial => 'default_form', :locals => {:f => f} %>
	</div>

<% end %>
