/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */
 
#errors{
    color: #f00;
    font-size: 15px;
}

/* alert alert-danger */
#error_explanation{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.required{
  color: red;
  font-size: 22px;
  text-shadow: 0 0 5px red;
}

.required-field{
  margin-left: -25px;
}

fieldset.dynamic-form-field {
margin-bottom: 7px;
}
fieldset.row-contact {
margin-bottom: 7px;
}


/* iframe Rules */
body.iframe .breadcrumb.header{
	display: none;
}
