@media print{ 
	fieldset, .breadcrumb, .hide-print, .back-button{
		display: none;
	}
	table, th,td, .print-table{
		border: 1px solid black;
	}
	th:nth-child(n+5), td:nth-child(n+5){
		display: none;
	}
	.print-title, .print-title-size{
		
		text-align: center;
	}
	.print-table label{
    	font-weight: bolder;
  	}
  	
}

